includes:
    - phpstan-baseline.neon

parameters:
    level: 0
    paths:
        - eZ
        - src
        - tests
    excludePaths:
        analyse:
            - tests/integration/Core/Repository/var
