<phpunit
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  beStrictAboutTestsThatDoNotTestAnything="false"
  colors="true"
  failOnWarning="true"
  >
  <php>
    <ini name="error_reporting" value="-1" />
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
  </php>
  <testsuites>
    <testsuite name="unit_core">
      <directory>tests/lib</directory>
    </testsuite>
    <testsuite name="bundle_core">
      <directory>tests/bundle/Core</directory>
    </testsuite>
    <testsuite name="bundle_debug">
      <directory>tests/bundle/Debug</directory>
    </testsuite>
    <testsuite name="bundle_installer">
      <directory>tests/bundle/Installer</directory>
    </testsuite>
    <testsuite name="bundle_io">
      <directory>tests/bundle/IO</directory>
    </testsuite>
    <testsuite name="bundle_lse">
      <directory>tests/bundle/LegacySearchEngineBundle</directory>
    </testsuite>
  </testsuites>
</phpunit>
