{% set content_name=ibexa_content_name(content) %}

{% if location is defined %}
    <p><a href="{{ ibexa_path(location) }}">{{ content_name }}</a></p>
{% else %}
    <p>{{ content_name }}</p>
{% endif %}
