{% set content_name=ez_content_name(content) %}

{% set parameters = {
    "isEmbed": true
} %}
{% if location is defined %}
    <h3><a href="{{ ez_path(location, parameters) }}">{{ content_name }}</a></h3>
{% else %}
    <h3><a href="{{ ez_path(content, parameters) }}">{{ content_name }}</a></h3>
{% endif %}
